<section class="section" >
  <ul class="background-view">
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <article class="media">
      <div class="media-content">
        <div class="content has-text-centered" id="top-title-layout">
          <p>
            <strong class="is-size-1" style="font-family: Georgia;">Dental Lab Order</strong>
          </p>
        </div>
        <% unless logged_in? %>
          <div class="button-position">
            <div class="columns is-centered">
              <div class="column is-3">
                <br>
                <%= link_to "ログイン", login_path, class: "btn-flat-border" %>
                <br>
                <%= link_to "新規登録", new_user_path, class: "btn-flat-border-new" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </article>
    <div class="columns is-centered">
      <div class="column">
      </div>
    </div>
  </div>
</section>
