<% if obj.errors.any? %>
  <div id="message is-danger">
    <div class="notification is-danger">
      入力エラーが<%= obj.errors.count %>件ありました。
    </div>
    <ul class="has-text-danger">
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>