@import "bulma";
/* universal */

.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image {
 border-radius: 50%;
}

.main-image {
	height: 940px;
	background-image: url(meal.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.navbar-item p {
  padding-right: 10px;
}

.section {
	padding-top: 30px;
}