@import "bulma";
/* universal */

.header-main-title {
  color: #B8860B;
	padding-left: 10px;
  font-family: Georgia;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(top, #FFE4C4, #B8860B);
  background: linear-gradient(to bottom, #FFE4C4, #B8860B);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.title-order.is-3 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 35px;
}

.notification:not(:last-child){
	margin-bottom: 0;
}

#flash-alert {
  background: #FFB6C1;
  color: #FF0000;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 40px;
}

.message ul {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.message li {
  font-size: 14px;
}

.is-horizontal-center {
  justify-content: center;
}

.field img {
  border-radius: 50%;
  height: 120px;
  object-fit: cover;
}

.image-tag img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.image-layout {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecd85;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
	background-image: url("/user_images/dental-2.jpg");
}

.image-layout::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.4);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

#main-image {
	padding-top: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecd85;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
	background-image: url("/user_images/dental-2.jpg");
}

.button-position {
	padding-top: 66px;
}

.navbar {
  background: #222;
}

.navbar-brand {
  background: #222;
}

.navbar-item p {
  padding-right: 35px;
  color: #fff;
  font-weight: bold;
}

.navbar-burger {
  color: #fff;
}

.nav-menu {
  color: #fff;
  font-family: Georgia;
}

.nav-menu:hover {
  color: #B8860B;
  background: -webkit-linear-gradient(top, #FFE4C4, #B8860B);
  background: linear-gradient(to bottom, #FFE4C4, #B8860B);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.navbar-menu {
  background: #222;
}

.navbar-menu.is-active {
  display: block;
  text-align: right;
}

.navbar-item.has-dropdown {
  padding-right: 10px;
}

.dropdown-content {
  background: #222;
  text-align: center;
}

.dropdown-trigger {

  span {
    color: #fff;
  }

  span:hover {
    color: #B8860B;
    background: -webkit-linear-gradient(top, #FFE4C4, #B8860B);
    background: linear-gradient(to bottom, #FFE4C4, #B8860B);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

#dropdown-menu {

  .dropdown-item {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
  }

  .dropdown-item:hover {
    color: #B8860B;
    background: -webkit-linear-gradient(top, #FFE4C4, #B8860B);
    background: linear-gradient(to bottom, #FFE4C4, #B8860B);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}

.section {
	padding-top: 30px;
}

.field img {
	border-radius: 50%;
}

.paginate {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin-left: 200px;
	margin-right: 750px;
}

.btn-flat-border {
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  text-align:center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  background: #4682B4;
  border-radius: 3px;
  transition: .4s;
  margin-bottom: 50px;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: #fff;
}

.btn-flat-border-new {
  width: 250px;
  font-size: 24px;
  font-weight: bold;
  text-align:center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  background: #3CB371;
  border-radius: 3px;
  transition: .4s;
  margin-bottom: 50px;
}

.btn-flat-border-new:hover {
  background: #32CD32;
  color: white;
}

.btn-flat-logo {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #32CD32 100%);
  transition: .4s;
}

.btn-flat-logo:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.button-new {
  padding-right: 70px;
}

.update-button {
  font-weight: bold;
}

/* table */

#order-table {
  background: white;
}

#order-table th {
  text-align: center;
  background: #FFEFD5;
  width: 12%;
}

#order-table td {
  text-align: center;
}

#order-table .checkbox {
  padding-left: 72px;
}

#order-table .select-table {
  padding-top: 15px;
}

#order-table .select-date {
  padding-top: 10px;
}

#order-table .select-order {
  padding-top: 10px;
}

#order-table .select-metal {
  padding-top: 12px;
}

#order-table .select-tag {
  padding-top: 13px;
}

#order-table .control-order {
  padding-left: 0px;
  padding-top: 5px;
}

#order-table .control-field {
  padding-left: 10px;
}

#order-table .warning-text {
  padding-top: 20px;
}

#order-table .tooth-image img {
  border-radius: 0%;
  height: 350px;
  width: 400px;
}

#order-table .checkbox-content {
  padding-top: 0px;
}

.field .control p {
  padding-top: 5px;
  padding-right: 5px;
}

.field:not(:last-child) {
  margin-bottom: 0px;
}

.field.is-grouped > .control:not(:last-child) {
  margin-bottom: 0;
  margin-right: 0px;
}

/* Order-show-table */

#order-show-table th {
  text-align: center;
  background: #FFEFD5;
}

#order-show-table td {
  text-align: center;
  font-weight: bold;
}

#order-show-table .show-td {
  padding-top: 17px;
}

/* モーダル */

.modal .modal-card {
  width: 90%;
}

.modal-card-head, .modal-card-foot {
  background-color: #ADD8E6;
}

.images-orders img {
  width: 100%;
  height: 100%;
}

.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content{
  background: #fff;
  left: 50%;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}

/* TOP画像表示切り替え */

.background-view {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url(/user_images/dental-2.jpg);
  background-size: cover;
}
.background-view li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center 50%;
  background-repeat: none;
  opacity: 0;
  -webkit-animation: anime 30s linear 0s ;
  animation: anime 30s linear 0s ;
}
.background-view li:nth-child(1) {
  background-image: url(/user_images/dental-4.jpg);  /* 背景画像を入力して下さい */
}
.background-view li:nth-child(2) {
  background-image: url(/user_images/dental-3.jpg);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

@-webkit-keyframes anime {
    0% {
        -webkit-animation-timing-function: ease-in;
        opacity: 1;
    }
    10% {
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.2);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}
@keyframes anime {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        transform: scale(1.1);
        opacity: 1;
    }
    40% {
        transform: scale(1.2);
            animation-timing-function: ease-out;
        opacity: 1;
    }
    50% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% { opacity: 0 }
}

/* Userログインと新規登録ページ */
.image-login-new {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url(/user_images/dental-2.jpg);
  background-size: cover;
}

.image-login-new::before {
  /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.4);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

/* Oredr新規作成view */

.order-image {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url(/user_images/dental-5.jpg);
  background-size: cover;
}

/* User_詳細 */

.user-show {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url(/user_images/dental-4.jpg);
  background-size: cover;
}

.button.is-rounded {
  margin-top: 3px;
}

.user-show::before {
  /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.3);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

/* 歯科医院一覧 */

.user-index {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url(/user_images/dental_chair.jpg);
  background-size: cover;
}

.user-index::before {
  /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.3);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

/* カレンダー */

#calendar-info {
  background: white;
}

#calendar-info .calendar-th {
  background: #99CCFF;
}

.simple-calendar .wday-6 {
  color: blue;
}

.simple-calendar .wday-0 {
  color: red;
}

.calendar-title {
  vertical-align: bottom;
}

/* 検索フォーム */

.field.has-addons {
  margin-left: 847px;
}

.text-search .control {
  width: 192px;
  padding-bottom: 5px;
}

.month-search .control{
  width: 192px;
  margin-left: 847px;
}

.month-search .control-submit {
  padding-top: 32px;
}

.month-search .control-submi .button {
  width: 20px;
}

/* 指示書一覧（完） */

.order-index {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-image: url(/user_images/tooth2.jpg);
  background-size: cover;
}

.order-index::before {
  /* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.3);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

/* PDF */

#pdf-table {
  border:2px solid #333;
}

#pdf-table th {
  text-align: center;
  border:2px solid #333;
  background: #DCDCDC;
}

#pdf-table td {
  text-align: center;
  border:2px solid #333;
}


/* User-paginate */

.pagination-link {
  color: white;
}

.pagination-next a {
  color: white;
}

.pagination-previous a {
  color: white;
}

.pagination-previous[disabled] span {
  color: black;
}

.pagination-next[disabled] span {
  color: black;
}

#pagenate-style {
  margin-left: 30px;
}
