@import "bulma";
/* universal */

.notification:not(:last-child){
	margin-bottom: 0;
}

.image img{
 border-radius: 50%;
}

.main-image {
	height: 940px;
	background-image: url(meal.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.navbar-item p {
  padding-right: 10px;
}

.section {
	padding-top: 30px;
}

.field img {
	border-radius: 50%;
}

.paginate {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin-left: 200px;
	margin-right: 750px;
}