// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section {
  margin-top: 3%;
}

#order-table {

  td {
    width: 20%;
  }
}

#image-table {

  th {
    text-align: center;
    background: #FFEFD5;
    vertical-align: middle;
  }

  td {
    padding: 0px;
    padding-top: 5px;
    width: 30%;
    vertical-align: middle;

    .tooth-image img {
      border-radius: 0%;
      height: 300px;
      width: 95%;
      cursor:pointer
    }
  }
}

#plans-table {

  th {
    text-align: center;
    background: #FFEFD5;
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
    width: 24%;
  }

  .check-layout {
    margin-left: 46%;
  }
}

//指示書一覧（完）
.search-index-layout {
  display: block;
  width: 80%;
  margin: 0 auto;

  .text-search {
    width: 192px;
    padding-bottom: 5px;
  }
}

.search-layout {
  text-align: left;

  .input-layout {
    border-radius: 25px;
    border: solid 1px black;
  }

  .search-btn {
    border-radius: 25px;
  }
}

#table-layout {
  width: 80%;
  margin: 0 auto;
}

@media screen and ( max-width: 1050px ) {
  #order-table  {

    .checkbox {
      padding-left: 0px;
    }
  }

  #plans-table {

    td {

      #plans-date {
        font-size: 14px;
      }
    }
  }
}

@media screen and ( max-width: 1000px ) {
  #order-table {

    th {
      vertical-align: middle;
      font-size: 10px;
    }

    td {
      vertical-align: middle;
      padding: 5px;
    }

    .checkbox {
      display: inline-flex;
      font-size: 12px;
      padding: 10px;
    }

    .control-order {
      padding-left: 13px;
    }

    .select-tag {
      padding: 0px;
    }

    .select-order {
      padding: 0px;
    }

    .select-table {
      padding: 0px;
    }

    .select-metal {
      padding: 0px;
    }
  }

  #image-table {
    th {
      font-size: 10px;
    }
  }

  #plans-table {
    th {
      font-size: 10px;
      padding: 2px;
    }

    td {
      padding: 5px;
    }
  }
}

@media screen and ( max-width: 500px ) {
  //指示書一覧（完）
  #table-layout {
    width: 94%;
  }
}
