@import "bulma";

#pdf-table {
  border:2px solid #333;
}

#pdf-table th {
  text-align: center;
  border:2px solid #333;
  background: #DCDCDC;
}

#pdf-table td {
  text-align: center;
  border:2px solid #333;
}

