// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title-layout {
  font-size: 2rem;
  color: #fff;
}

.label-color {
  color: #fff;
}

span.sub-info {
  font-weight: bold;
}

#form-layout {

  p {
    font-size: 1.5rem;
  }
}

p {
  .admin-btn {
    color: #fff;
    background-color: #F4A460;
  }

  .admin-btn:hover {
    color: #fff;
  }

  .guest-btn {
    color: #fff;
    background-color: rgb(255, 153, 112);
  }

  .guest-btn:hover {
    color: #fff;
  }
}

@media screen and ( max-width: 1050px ) {
  #form-layout {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and ( max-width: 1000px ) {
  #form-layout {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and ( max-width: 500px ) {
  #form-layout {
    width: 90%;
    margin: 0 auto;

    p {
      font-size: 20px;
    }
  }
}
